[Unit]
Description=Aquire distribute lock through AWS DynamoDB
After=multi-user.target

[Service]
User={{ dynamodb_lock_user }}
Group={{ dynamodb_lock_group }}
Environment=AWS_DEFAULT_REGION={{ aws_region }}
Type=simple
ExecStart={{ dynamodb_lock_dest }}/dynamodb-lock-client.py --deamon --ttl {{ lock_ttl }} --table {{ dynamodb_lock_table }} --name {{ lock_name }}

[Install]
WantedBy=multi-user.target
